<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Blog</title>
<link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">

		<div class="container">
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarsExample04"
				aria-controls="navbarsExample04" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarsExample04">
				<ul class="nav navbar-nav me-auto mb-2 mb-md-0">
					<li class="nav-item"><a
						class="nav-link text-secondary fw-bold" aria-current="page"
						href="/">AllPosts</a></li>
					<li class="nav-item mb-2"><a href="/signup"><button
								type="button" class="btn btn-outline-light me-2">Sign-up</button></a></li>
					<li class="nav-item mb-2"><a href="/login"><button
								type="button" class="btn btn-outline-light">Login</button></a></li>
				</ul>
				<form class="d-flex" role="search">
					<input class="form-control form-control-light me-2" type="search"
						placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-light" type="submit">Search</button>
				</form>
			</div>
		</div>
	</nav>
	<div class="container">
		<h3 class="pb-4 mb-4 fst-italic border-bottom">From the Firehose
		</h3>

		<article class="blog-post">
			<h2 class="blog-post-title mb-1">Sample blog post</h2>
			<p class="blog-post-meta">
				January 1, 2021 by <a href="#">Mark</a>
			</p>

			<p>This blog post shows a few different types of content that’s
				supported and styled with Bootstrap. Basic typography, lists,
				tables, images, code, and more are all supported as expected.</p>
			<hr>
			<p>This is some additional paragraph placeholder content. It has
				been written to fill the available space and show how a longer
				snippet of text affects the surrounding content. We'll repeat it
				often to keep the demonstration flowing, so be on the lookout for
				this exact same string of text.</p>
			<h2>Blockquotes</h2>
			<p>This is an example blockquote in action:</p>
			<blockquote class="blockquote">
				<p>Quoted text goes here.</p>
			</blockquote>
			<p>This is some additional paragraph placeholder content. It has
				been written to fill the available space and show how a longer
				snippet of text affects the surrounding content. We'll repeat it
				often to keep the demonstration flowing, so be on the lookout for
				this exact same string of text.</p>
			<h3>Example lists</h3>
			<p>This is some additional paragraph placeholder content. It's a
				slightly shorter version of the other highly repetitive body text
				used throughout. This is an example unordered list:</p>
			<ul>
				<li>First list item</li>
				<li>Second list item with a longer description</li>
				<li>Third list item to close it out</li>
			</ul>
			<p>And this is an ordered list:</p>
			<ol>
				<li>First list item</li>
				<li>Second list item with a longer description</li>
				<li>Third list item to close it out</li>
			</ol>
			<p>And this is a definition list:</p>
			<dl>
				<dt>HyperText Markup Language (HTML)</dt>
				<dd>The language used to describe and define the content of a
					Web page</dd>
				<dt>Cascading Style Sheets (CSS)</dt>
				<dd>Used to describe the appearance of Web content</dd>
				<dt>JavaScript (JS)</dt>
				<dd>The programming language used to build advanced Web sites
					and applications</dd>
			</dl>
			<h2>Inline HTML elements</h2>
			<p>
				HTML defines a long list of available inline tags, a complete list
				of which can be found on the <a
					href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element">Mozilla
					Developer Network</a>.
			</p>
			<ul>
				<li><strong>To bold text</strong>, use <code
						class="language-plaintext highlighter-rouge">&lt;strong&gt;</code>.</li>
				<li><em>To italicize text</em>, use <code
						class="language-plaintext highlighter-rouge">&lt;em&gt;</code>.</li>
				<li>Abbreviations, like <abbr title="HyperText Markup Language">HTML</abbr>
					should use <code class="language-plaintext highlighter-rouge">&lt;abbr&gt;</code>,
					with an optional <code class="language-plaintext highlighter-rouge">title</code>
					attribute for the full phrase.
				</li>
				<li>Citations, like <cite>— Mark Otto</cite>, should use <code
						class="language-plaintext highlighter-rouge">&lt;cite&gt;</code>.
				</li>
				<li><del>Deleted</del> text should use <code
						class="language-plaintext highlighter-rouge">&lt;del&gt;</code>
					and <ins>inserted</ins> text should use <code
						class="language-plaintext highlighter-rouge">&lt;ins&gt;</code>.</li>
				<li>Superscript <sup>text</sup> uses <code
						class="language-plaintext highlighter-rouge">&lt;sup&gt;</code>
					and subscript <sub>text</sub> uses <code
						class="language-plaintext highlighter-rouge">&lt;sub&gt;</code>.
				</li>
			</ul>
			<p>Most of these elements are styled by browsers with few
				modifications on our part.</p>
			<h2>Heading</h2>
			<p>This is some additional paragraph placeholder content. It has
				been written to fill the available space and show how a longer
				snippet of text affects the surrounding content. We'll repeat it
				often to keep the demonstration flowing, so be on the lookout for
				this exact same string of text.</p>
			<h3>Sub-heading</h3>
			<p>This is some additional paragraph placeholder content. It has
				been written to fill the available space and show how a longer
				snippet of text affects the surrounding content. We'll repeat it
				often to keep the demonstration flowing, so be on the lookout for
				this exact same string of text.</p>
			<pre>
				<code>Example code block</code>
			</pre>
			<p>This is some additional paragraph placeholder content. It's a
				slightly shorter version of the other highly repetitive body text
				used throughout.</p>
		</article>
	</div>
	<div class="container mt-3 mb-3">
		<div class="row mt-3 mb-3 bg-light text-center">
			<h1>Comments</h1>
		</div>
		<div class="row mt-3 mb-3">
			<div class="bg-light p-3 rounded">
				<h6>Name: Satya</h6>
				<h6>
					Date: <span>23rd Jun 2023</span>
				</h6>
				<p class="lead bg-white p-2">This example is a quick exercise to
					illustrate how the top-aligned navbar works. As you scroll, this
					navbar remains in its original position and moves with the rest of
					the page.</p>
			</div>
		</div>
		<div class="row mt-3 mb-3">
			<div class="bg-light p-3 rounded">
				<h6>Name: Satya</h6>
				<h6>
					Date: <span>23rd Jun 2023</span>
				</h6>
				<p class="lead bg-white p-2">This example is a quick exercise to
					illustrate how the top-aligned navbar works. As you scroll, this
					navbar remains in its original position and moves with the rest of
					the page.</p>
			</div>
		</div>
		<div class="row m-auto">
			<div class="col-lg-6 card m-auto mb-3 p-0">
				<h3 class="card-header">Leave a Comment</h3>
				<div class="card-body">
					<form class="row">
						<div class="mb-3">
							<label for="exampleFormControlInput1" class="form-label">Enter
								Name</label> <input type="text" class="form-control"
								id="exampleFormControlInput1" placeholder="Name">
						</div>
						<div class="mb-3">
							<label for="exampleFormControlInput1" class="form-label">Enter
								Email address</label> <input type="text" class="form-control"
								id="exampleFormControlInput1" placeholder="name@example.com">
						</div>
						<div class="mb-3">
							<label for="exampleFormControlTextarea1" class="form-label">Enter
								Comment</label>
							<textarea class="form-control" id="exampleFormControlTextarea1"
								rows="3"></textarea>
						</div>
						<div class="col-12">
							<button type="submit" class="btn btn-primary">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<footer class="footer mt-auto py-3 bg-light">
		<div class="container text-center">
			<span class="mb-3 mb-md-0 text-muted">Copyright © 2023 <a
				class="text-dark" href="#">SatyaNayak</a>, All rights reserved
			</span>
		</div>
	</footer>
	<script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>